body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:114px;
  top:7px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:146px;
  top:124px;
  width:320px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:144px;
  top:147px;
  width:326px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:322px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:144px;
  top:627px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:336px;
  top:735px;
  width:16px;
  height:13px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:345px;
  top:731px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:148px;
  top:155px;
  width:32px;
  height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:143px;
  top:632px;
  width:326px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:63px;
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:398px;
  top:640px;
  width:37px;
  height:36px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:391px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:177px;
  top:647px;
  width:37px;
  height:29px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:171px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:318px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:327px;
  top:644px;
  width:32px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:250px;
  top:647px;
  width:32px;
  height:29px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:242px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:144px;
  top:627px;
  width:320px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:3px;
  width:320px;
  height:5px;
}
#u30 {
  position:absolute;
  left:193px;
  top:206px;
  width:74px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:267px;
  top:206px;
  width:74px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:341px;
  top:206px;
  width:74px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:171px;
  top:280px;
  width:279px;
  height:230px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:230px;
}
#u34 {
  position:absolute;
  left:2px;
  top:107px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
