body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:114px;
  top:7px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:146px;
  top:124px;
  width:320px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:144px;
  top:147px;
  width:326px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:322px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:407px;
  top:164px;
  width:40px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:146px;
  top:193px;
  width:320px;
  height:167px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:167px;
}
#u9 {
  position:absolute;
  left:2px;
  top:76px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:146px;
  top:360px;
  width:320px;
  height:80px;
  color:#00CC99;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:159px;
  top:376px;
  width:36px;
  height:23px;
  color:#00CC99;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:235px;
  top:377px;
  width:38px;
  height:34px;
  color:#00CC99;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:396px;
  top:377px;
  width:38px;
  height:34px;
  color:#00CC99;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:318px;
  top:377px;
  width:38px;
  height:34px;
  color:#00CC99;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:153px;
  top:414px;
  width:50px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:229px;
  top:414px;
  width:50px;
  height:15px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:393px;
  top:414px;
  width:50px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:313px;
  top:414px;
  width:50px;
  height:15px;
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:146px;
  top:439px;
  width:320px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:3px;
  width:320px;
  height:5px;
}
#u29 {
  position:absolute;
  left:143px;
  top:632px;
  width:326px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:63px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:144px;
  top:627px;
  width:320px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:3px;
  width:320px;
  height:5px;
}
#u32 {
  position:absolute;
  left:398px;
  top:640px;
  width:37px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:391px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:336px;
  top:735px;
  width:16px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:345px;
  top:731px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:177px;
  top:647px;
  width:37px;
  height:29px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:171px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:318px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:441px;
  top:162px;
  width:21px;
  height:21px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:327px;
  top:644px;
  width:32px;
  height:32px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:250px;
  top:647px;
  width:32px;
  height:29px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:242px;
  top:676px;
  width:50px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:299px;
  top:448px;
  width:10px;
  height:182px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:165px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:182px;
}
#u53 {
  position:absolute;
  left:146px;
  top:502px;
  width:319px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u54 {
  position:absolute;
  left:146px;
  top:567px;
  width:319px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u55 {
  position:absolute;
  left:148px;
  top:450px;
  width:153px;
  height:54px;
  color:#333333;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:54px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:241px;
  top:451px;
  width:59px;
  height:52px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:310px;
  top:450px;
  width:153px;
  height:54px;
  color:#333333;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:54px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:403px;
  top:451px;
  width:59px;
  height:52px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:146px;
  top:514px;
  width:153px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:54px;
}
#u64 {
  position:absolute;
  left:2px;
  top:19px;
  width:149px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:239px;
  top:515px;
  width:59px;
  height:52px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u66 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:309px;
  top:514px;
  width:153px;
  height:54px;
  color:#333333;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:54px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:402px;
  top:515px;
  width:59px;
  height:52px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:148px;
  top:575px;
  width:153px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:54px;
}
#u72 {
  position:absolute;
  left:2px;
  top:19px;
  width:149px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:241px;
  top:576px;
  width:59px;
  height:52px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u74 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:308px;
  top:575px;
  width:153px;
  height:54px;
  color:#333333;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:54px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:401px;
  top:576px;
  width:59px;
  height:52px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u78 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
