body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:114px;
  top:7px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:144px;
  top:627px;
  width:320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:180px;
  top:280px;
  width:80px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:415px;
  width:200px;
  height:60px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  text-decoration:none;
  color:#CCFF99;
  text-align:center;
}
#u6 {
  position:absolute;
  left:220px;
  top:647px;
  width:130px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  text-decoration:none;
  color:#CC0000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:220px;
  top:475px;
  width:160px;
  height:75px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:75px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  text-decoration:none;
  color:#3366CC;
  text-align:center;
}
