<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayangche.android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_main_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplshActivity"
            android:label="@string/title_activity_splsh" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.UserCenterActivity"
            android:label="@string/title_activity_user_center" >
        </activity>
        <activity
            android:name=".activity.CarInfoActivity"
            android:label="@string/title_activity_car_info" >
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".activity.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jayangche.android.activity.BaseActivity" />
        </activity>
    </application>

</manifest>
