<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrja.carja" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.rrja.carja.activity.SplshActivity"
            android:label="@string/title_activity_splsh" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.rrja.carja.activity.UserCenterActivity"
            android:label="@string/title_activity_user_center" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.CarInfoActivity"
            android:label="@string/title_activity_car_info" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".activity.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rrja.carja.activity.BaseActivity" />
        </activity>
        <activity
            android:name="com.rrja.carja.activity.HomeMaintenanceActivity"
            android:label="@string/title_home_maintenance" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.OnDoreWashActivity"
            android:label="@string/title_wash_car_door" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.StoreReservationActivity"
            android:label="@string/title_store_reservation" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.StoreReservationDetalActivity"
            android:label="@string/title_store_detial" />
        <activity
            android:name="com.rrja.carja.activity.ViolationActivity"
            android:label="@string/title_violation_inquiry" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.DiscountActivity"
            android:label="@string/title_activity_discount" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.CityListActivity"
            android:label="@string/title_my_city" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.CouponsDetalActivity"
            android:label="@string/title_activity_coupons_detal" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.AddCarActivity"
            android:label="@string/title_car_name" >
        </activity>
        <activity
            android:name="com.rrja.carja.activity.LoginActivity"
            android:label="@string/title_login" >
        </activity>

        <service
            android:name="com.rrja.carja.service.DataCenterService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.rrja.carja.service.FileService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>

</manifest>
